.settings {
}

.settingsLogout,
.settingsDeleteAccount {
	cursor: pointer;
	border-bottom: 1px solid silver;
	padding: 15px;
	width: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.settingsLogout i,
.settingsDeleteAccount i {
	color: red;
	font-size: 25px;
}
